@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0c0c0c;
}
.section-size {
  @apply px-5 md:px-10 xl:px-14;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0c0c0c;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Inter, sans-serif, Zen Dots;
}
.border-gradiant {
  border: 1px solid;

  background: linear-gradient(#121414, #121414) padding-box,
    linear-gradient(180deg,#55eaf1 , #313f8b) border-box;
  border: 1px solid transparent;
}

.rollable-link {
  perspective: 600px;
}

.rollable-text {
  transform-origin: 50% 0%;
  transform-style: preserve-3d;
}

.rollable-link:hover .rollable-text {
  transform: translate3d(0, 0, -30px) rotateX(90deg);
  background-color: transparent;
}

.rollable-link:hover .rollable-text::after {
  content: attr(data-title);
  position: absolute;
  left: 0;
  top: 0;
  padding: 12px 24px;
  color: black;
  background-color: white;
  transform-origin: 50% 0%;
  transform: translate3d(0, 105%, 0) rotateX(-90deg);
  transition: transform 0.7s ease-in-out;
}

.linear-gradiant{
  border-radius: 20px;
  border-top: 1px solid #bf6dee;
  border-bottom: 1px solid #bf6dee;
  background: rgba(191, 109, 238, 0.1);
  backdrop-filter: blur(6px);
}
.table-separator{
  border-collapse: separate;
  border-spacing: 0 1rem;
}
.last-table-col{
  text-align: -webkit-right;
}



.text-gradient {
  background: radial-gradient(159.46% 3427.22% at 91.99% 125.57%, rgba(209, 43, 255, 0.5) 0%, #BEB9C7 19.48%, #FFFFFF 69.68%, rgba(255, 255, 255, 0.1) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button-gradiant{
  background: linear-gradient(90deg, rgba(227, 136, 211, 0.25) 0%, rgba(144, 130, 213, 0.25) 52%, rgba(255, 255, 255, 0.25) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

